label {
  display: inline-block;
  width: 3em;
  margin: .5em 0;
  color: #53b8eb;
  font-weight: bold;
}
input {
  height: 2em;
  font-size: 1em;
  padding-left: .4em;
}
button {
  margin-top: 20px;
  font-family: Arial;
  background-color: #eee;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer; cursor: hand;
  margin: 3px;
}

button.save {
  background-color: darkcyan;
}
button.back {
  background-color:darkorange;
}
button:hover {
  background-color: #38d84d;
}
button:disabled {
  background-color: #eee;
  color: #ccc;
  cursor: auto;
}

.icon {
  margin-right: 10px;
}

.star {
  color: yellow;
}
