<div *ngIf="repo" class="detail-container">
  <div class="detail-content">
    <h2>{{ repo.name | uppercase }} Details</h2>
    <div>
      <i class="fab fa-github fa-2x icon"></i><span>id: </span>{{ repo.id }}
      <i class="fas fa-star star"></i> {{repo.stars}}
    </div>
    <div>
      <label>name:
        <input [(ngModel)]="repo.name" placeholder="name"/>
      </label>
    </div>
    <div>
      <label>description:
        <textarea  [(ngModel)]="repo.description" placeholder="description"></textarea>
      </label>
    </div>
    <div style="display: flex;">
      <button class="back" (click)="goBack()"><i class="fas fa-chevron-left"></i> go back</button>
      <button class="save" (click)="save()"><i class="fas fa-save"></i> save</button>
    </div>
  </div>
</div>

